@import "tailwindcss";
@import "tw-animate-css";

/* biome-ignore lint/suspicious/noUnknownAtRules: Tailwind v4 custom variant */
@custom-variant dark (&:where(.dark, .dark *));

/* biome-ignore lint/suspicious/noUnknownAtRules: Tailwind v4 theme tokens */
@theme {
	--font-sans:
		"Inter", "Geist", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
	/* biome-ignore lint/suspicious/noUnknownAtRules: Tailwind apply */
	@apply bg-white dark:bg-gray-950;

	@media (prefers-color-scheme: dark) {
		color-scheme: dark;
	}
}

:root {
	--base-50: oklch(0.9847 0.0005 105.41);
	--base-100: oklch(0.97 0.001 106.42);
	--base-200: oklch(0.9246 0.0014 106.79);
	--base-300: oklch(0.869 0.0016 107.63);
	--base-400: oklch(0.7077 0.0018 108.31);
	--base-500: oklch(0.5533 0.0019 109.81);
	--base-600: oklch(0.4445 0.0019 110.94);
	--base-700: oklch(0.3735 0.0018 110.14);
	--base-800: oklch(0.2709 0.0015 108.92);
	--base-900: oklch(0.2139 0.0014 109.18);
	--base-950: oklch(0.1423 0.0013 108.09);
	--base-1000: oklch(0.0958 0.0012 108.61);

	--primary-50: oklch(0.9729 0.0131 25.1);
	--primary-100: oklch(0.9396 0.0318 25.08);
	--primary-200: oklch(0.8882 0.0621 25.3);
	--primary-300: oklch(0.8032 0.1121 25.84);
	--primary-400: oklch(0.7129 0.182 27.53);
	--primary-500: oklch(0.6501 0.2186 29.6);
	--primary-600: oklch(0.5904 0.213 30.73);
	--primary-700: oklch(0.5144 0.1962 30.37);
	--primary-800: oklch(0.4492 0.1664 29.47);
	--primary-900: oklch(0.3985 0.1322 28.3);
	--primary-950: oklch(0.2597 0.086 28.38);
	--primary-1000: oklch(0.1692 0.0558 28.31);

	--secondary-50: oklch(0.9731 0.0171 25.9);
	--secondary-100: oklch(0.9165 0.0421 25.84);
	--secondary-200: oklch(0.8885 0.0589 26.02);
	--secondary-300: oklch(0.8144 0.0674 26.48);
	--secondary-400: oklch(0.7141 0.0758 28.07);
	--secondary-500: oklch(0.6518 0.0821 30.04);
	--secondary-600: oklch(0.5921 0.08 31.08);
	--secondary-700: oklch(0.5156 0.0737 30.66);
	--secondary-800: oklch(0.45 0.0631 29.73);
	--secondary-900: oklch(0.399 0.0589 28.56);
	--secondary-950: oklch(0.2601 0.0547 28.62);
	--secondary-1000: oklch(0.1696 0.0505 28.52);

	--background: var(--base-50);
	--foreground: var(--base-800);
	--card: var(--color-white);
	--card-foreground: var(--base-800);
	--popover: var(--color-white);
	--popover-foreground: var(--base-800);
	--primary: var(--primary-300);
	--primary-foreground: var(--color-black);
	--secondary: var(--secondary-100);
	--secondary-foreground: var(--color-black);
	--muted: var(--base-100);
	--muted-foreground: var(--base-600);
	--accent: var(--base-100);
	--accent-foreground: var(--base-800);
	--destructive: oklch(0.577 0.245 27.325);
	--border: var(--base-200);
	--input: var(--base-300);
	--ring: var(--primary-300);
	--chart-1: var(--primary-300);
	--chart-2: var(--secondary-100);
	--chart-3: var(--primary-300);
	--chart-4: var(--secondary-300);
	--chart-5: var(--primary-100);
	--radius: 0.3rem;
	--sidebar: var(--color-white);
	--sidebar-foreground: var(--base-800);
	--sidebar-primary: var(--primary-300);
	--sidebar-primary-foreground: var(--color-black);
	--sidebar-accent: var(--base-50);
	--sidebar-accent-foreground: var(--base-800);
	--sidebar-border: var(--base-200);
	--sidebar-ring: var(--primary-300);
}

.dark {
	--background: var(--base-950);
	--foreground: var(--base-200);
	--card: var(--base-900);
	--card-foreground: var(--base-200);
	--popover: var(--base-900);
	--popover-foreground: var(--base-200);
	--primary: var(--primary-300);
	--primary-foreground: var(--color-black);
	--secondary: var(--secondary-100);
	--secondary-foreground: var(--color-black);
	--muted: var(--base-800);
	--muted-foreground: var(--base-300);
	--accent: var(--base-800);
	--accent-foreground: var(--base-200);
	--destructive: oklch(0.704 0.191 22.216);
	--border: var(--base-800);
	--input: var(--base-700);
	--ring: var(--primary-300);
	--chart-1: var(--primary-300);
	--chart-2: var(--secondary-100);
	--chart-3: var(--primary-300);
	--chart-4: var(--secondary-300);
	--chart-5: var(--primary-100);
	--sidebar: var(--base-900);
	--sidebar-foreground: var(--base-200);
	--sidebar-primary: var(--primary-300);
	--sidebar-primary-foreground: var(--color-black);
	--sidebar-accent: var(--base-800);
	--sidebar-accent-foreground: var(--base-200);
	--sidebar-border: var(--base-800);
	--sidebar-ring: var(--primary-300);
}

/* biome-ignore lint/suspicious/noUnknownAtRules: Tailwind v4 inline theme */
@theme inline {
	--color-base-50: var(--base-50);
	--color-base-100: var(--base-100);
	--color-base-200: var(--base-200);
	--color-base-300: var(--base-300);
	--color-base-400: var(--base-400);
	--color-base-500: var(--base-500);
	--color-base-600: var(--base-600);
	--color-base-700: var(--base-700);
	--color-base-800: var(--base-800);
	--color-base-900: var(--base-900);
	--color-base-950: var(--base-950);
	--color-base-1000: var(--base-1000);

	--color-primary-50: var(--primary-50);
	--color-primary-100: var(--primary-100);
	--color-primary-200: var(--primary-200);
	--color-primary-300: var(--primary-300);
	--color-primary-400: var(--primary-400);
	--color-primary-500: var(--primary-500);
	--color-primary-600: var(--primary-600);
	--color-primary-700: var(--primary-700);
	--color-primary-800: var(--primary-800);
	--color-primary-900: var(--primary-900);
	--color-primary-950: var(--primary-950);
	--color-primary-1000: var(--primary-1000);

	--color-secondary-50: var(--secondary-50);
	--color-secondary-100: var(--secondary-100);
	--color-secondary-200: var(--secondary-200);
	--color-secondary-300: var(--secondary-300);
	--color-secondary-400: var(--secondary-400);
	--color-secondary-500: var(--secondary-500);
	--color-secondary-600: var(--secondary-600);
	--color-secondary-700: var(--secondary-700);
	--color-secondary-800: var(--secondary-800);
	--color-secondary-900: var(--secondary-900);
	--color-secondary-950: var(--secondary-950);
	--color-secondary-1000: var(--secondary-1000);

	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-destructive: var(--destructive);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
}

@layer base {
	* {
		/* biome-ignore lint/suspicious/noUnknownAtRules: Tailwind apply */
		@apply border-border outline-ring/50;
	}
	body {
		/* biome-ignore lint/suspicious/noUnknownAtRules: Tailwind apply */
		@apply bg-background text-foreground;
	}
}
